<h1><%= @gossip.title %></h1>
<hr>
<p class="gossip"> 
    <%= @gossip.content%>
</p>
<p>    
    <br>
    <span> Balancé par </span><a href="/author/<%= @gossip.user_id %>"><%= @gossip.user.first_name %></a>
    <br>
    <span> <%= link_to " #{@gossip.user.city.name} ", city_path(@gossip.user.city.id), :class =>"btn btn-primary" %></a>
    <br>
    <small><%= "le #{(@gossip.created_at.to_s)[0..9]}"%></small>
</p>
<p>
  <%= link_to "Editer", edit_gossip_path(@gossip.id), :class =>"btn btn-secondary" %>
  <a href="<% gossip_path(@gossip.id) %>" class="btn btn-danger" data-confirm="Veux-tu vraiment supprimer ce Gossip ? Si oui, tu peux confirmer, mais n'oublier pas que ce gossip disparaîtra à tous jamais.."  data-method="DELETE"> Supprimer <a/>

</p>

<h2><small>Ajouter un commentaire</small></h2>
<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
     <p>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p> <p>



  <h2>All comments :</h2>
    <% @gossip.comments.each do |comment| %>
    
      
        <p> <%= comment.content %> </p>
        <p><a href="/gossip/<%= @gossip.id %>/comments/<%= comment.id %>/edit" class="btn btn-primary">Edit the comment</a></p>
      
    <% end %> 





